<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>migrateMy.DB</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="n-left">
                <div>
                    <img src="/images/logo.png" alt="">
                    <h3>migrateMy.DB</h3>
                </div>
            </div>
            <div class="n-right">
                <a href="/">Home</a>
                <a href="/services">Services</a>
                <a href="/documentation">Documentation</a>

                <% if (username) { %>
                    <p style="color: royalblue;">Welcome <%= username %></p>
                    <a href="/logout" id="logout">Logout</a>
                <% } else { %>
                    <a href="/signin" id="signin">Sign-in</a>
                    <a href="/signup" id="signup">Sign-up</a>
                <% } %>
                
            </div>
        </div>
        <div class="hero">
            <div class="hero-wrapper">
                <h2>Welcome to the Hybrid Data Migration Platform</h2>
                <p>Seamlessly migrate your data from MySQL to NoSQL databases while ensuring data integrity, efficiency, and reliability.</p>
                <button>Get's Started</button>
            </div>
        </div>
    </div>
</body>

</html>
